.TitleTag {
    line-height: 0.5;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
  }
  .TitleTag h1 {
    text-align: center;
    position: relative;
  }
  .TitleTag h1:before {
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    position: absolute;
    background: black;
    left: 0;
    top: 50%;
    z-index: -2;
  }
  .TitleTag h1:after {
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    position: absolute;
    background: black;
    right: 0;
    top: 50%;
    z-index: -2;
  }
  .TitleTag span {
    font-size: 40px;
    width: 100px;
    z-index: 2;
  }
  
  .TitleTag button {
      color: white;
    height: 50px;
    width: 300px;
    background-color: #242424 ;
    font-size: 20px;
    font-weight: bold;
    border-color: #242424;
  }
  @media (max-width: 640px) {
    .TitleTag button {
      height: 40px;
      width: 100px;
      font-size: 10px;
    }
  }
  